<p>
  <strong>Title:</strong>
  <%= tutorial.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= link_to tutorial.url, tutorial.url, target: "_blank" %>
</p>

<p>
  <%= link_to 'Destroy Tutorial', [:admin, tutorial.lesson, tutorial], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>