<p>
  <strong>Title:</strong>
  <%= presentation.title %>
</p>

<p>
  <strong>URL:</strong>
  <%= link_to presentation.url, presentation.url, target: "_blank" %>
</p>

<p>
  <%= link_to 'Destroy Presentation', [:admin, presentation.lesson, presentation], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>