<div class="breadcrumbs">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="active">Admin</li>
    </ol>
  </div>
</div>

<div class="admin">
  <div class="container-fluid">
    <h2 class="page-header">Lessons</h2>
    <p>
      <%= link_to "New Lesson", new_admin_lesson_path, class: "btn btn-default" %>
      <%= link_to "View all lessons", admin_lessons_path, class: "view" %>
    </p>
  </div>
</div>
