<div class="assignments">
  <div class="container-fluid">
    <h1>Assignments</h1>
    <% if @assignments.length == 0 %>
      <p class="lead">There are currently no assignments posted.</p>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Assignment</th>
            <th>Submission</th>
          </tr>
        </thead>
        <tbody>
          <% @assignments.each do |assignment| %>
            <tr>
              <td><%= link_to assignment.title, assignment.url, target: "_blank" %></td>
              <td>
                <div class="pull-left">
                  <%= link_to "Download Files", assignment.file.url, class: "btn btn-outline btn-xs" %>
                </div>
                <div class="submit pull-left" data-toggle="tooltip" data-placement="top" title="<%= 'You must be signed in to submit assignments' unless user_signed_in? %>">
                  <%= link_to "Submit Assignment", new_admin_assignment_submission_path(assignment), class: "btn btn-outline btn-xs #{ 'disabled' unless user_signed_in? }" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>