/*
 * Base
 *
 * Universal elements across the site
 */

/* Sections */
.section {
  padding-bottom: 40px;
}

/* Messages */
.messages {
  .alert {
    margin-top: 20px;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  padding-top: 20px;
  .breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}

/* Container */
.container-fluid {
  max-width: 970px;
}