/*
 * Base
 *
 * Universal elements across the site
 */

/* Sections */
.section {
  padding-bottom: 40px;
}

/* Messages */
.messages {
  .alert {
    margin-top: 20px;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  padding-top: 20px;
}
