/*
 * Footer
 *
 * Content at the bottom of all pages
 */

html,
body{
  height: 100%;
}
.main {
  min-height: 100%;
  margin-bottom: -70px; 
}
.main:after {
  content: "";
  display: block;
}
.footer, .main:after {
  height: 70px; 
}
.footer {
  height: 70px;
  padding-top: 25px;
  padding-left: 150px;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}

@media (max-width: 870px) {
  .footer {
    padding-left: 0;
  }
  .footer.active {
    position: relative;
    left: 150px;
  }
}
