/*
 * Footer
 *
 * Content at the bottom of all pages
 */

html,
body{
  height: 100%;
}
.main {
  min-height: 100%;
  margin-bottom: -65px; 
}
.main:after {
  content: "";
  display: block;
}
.footer, .main:after {
  height: 65px; 
}
.footer {
  height: 65px;
  padding-top: 25px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 870px) {
  .footer {
    padding-left: 150px;
  }
}
