// import the CSS framework
@import "bootstrap";

/* Typography */
body {
  font-family: 'open sans', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
a, a:hover {
  text-decoration: none;
  color: #ff8c00;
}

/* Buttons */
.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
.btn-outline {
  color: #2f506c;
  background-color: transparent;
  border-color: #2f506c;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #2f506c;
  border-color: #2f506c;
}
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #2f506c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
.btn-table {
  display: inline;
}

/* Wells */
.well {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.well-lg {
  border-radius: 0;
}
.well-sm {
  border-radius: 0;
}

/* Alerts */
.alert {
  border-radius: 0;
}

/* Breadcrumbs */
.breadcrumb {
  border: 1px solid #e3e3e3;
}

/* Forms */
.form-control {
  border-radius: 3px;
}

/* Tables */
.table {
  thead > tr > th {
    border-bottom-width: 1px;
  }
}
@media (min-width: 768px) {
  .table {
    thead > tr > th {
      padding: 16px 8px;
    }
    tbody > tr > td {
      padding: 16px 6px;
    }
  }
}
