<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="messages">
      <div class="container-fluid">
        <div class="alert alert-<%= ("success" if name == :success) || ("danger" if name == :danger) || "info" %> alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
